.iti{
	display:block;
}

.iti_admin .iti__flag{
	display:inline-block;
	margin-right:1rem;
	vertical-align: middle;
}

.countrySelector .ui-state-active,
.countrySelector .ui-widget-content .ui-state-active{
	background: #117;
	border:none;
}

.countrySelector.ui-button,
.countrySelector.ui-button:hover,
.countrySelector.ui-button:active{
	background: #fff;
	border: 1px solid #c5c5c5;
}

.countrySelector .ui-menu-item-wrapper.iti_admin{
	padding:.3rem 0 .3rem .7rem;
}

.countrySelector.ui-selectmenu-button.ui-button {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ui-selectmenu-menu .ui-menu {
	max-height: 250px;
	margin-bottom:72px;
}

.geopos .map{
	min-height: 250px;
}
